#viewport {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stagger-visualizer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 24rem;
  height: 24rem;
}

.stagger-visualizer div {
  width: 1rem;
  height: 1rem;
  background-color: var(--red);
}
